<%- include("./partials/header") %>

<div id="page" class="about-page">

  <div id="content">
    <div id="title">
      <h1>Junior Developer</h1>
      <h2>Desarollo Web</h2>
      <p>matiasmunoz.dev@gmail.com</p>
    </div>
  
    <article class="about">
      <h2>Sobre Mi</h2>
      <p>Hola soy Desarollador web junior y he creado esta pagina para resolver algunas dudas sobre el Desarollo Web
        desde mi punto de vista, dado que estoy aprendiendo y todavía tengo algunas dudas, es probable que si estas empezando
        tengas dudas similares a las mias. Esta pagina no tiene el fin de enseñarte a programar, por lo que no mostraré codigo.
        El fin  de esta pagina es que sepas por donde empezar e ir aprendiendo más rapido. Si me he equivocado en algo o si tienes dudas
        y quieres que haga un articulo para resolverlas puedes enviarme un correo yo estare agradecido en responderte.
      </p>
    </article>
  </div>

  <%- include("./partials/footer") %>


</div>


  

  