<%- include("./partials/header") %>
<div class="container">
    <form onsubmit="newBlog(event)">
          <div class="form-group">
          <h3 for="title" style="text-align: center;">Titulo</h3>
          <input type="title" class="form-control" id="title" aria-describedby="emailHelp" placeholder="Introduce el titulo">    
          </div>

          <div class="form-group">
          <label for="name">Nombre</label>
          <input type="name" class="form-control" id="name" aria-describedby="name" placeholder="Introduce el nombre">
          </div>

          <div class="form-group">
          <label for="content">Contenido</label>
          <input type="text" class="form-control" id="content" placeholder="Introduce el codigo html">
          </div>

          <div class="form-group">
          <label for="imgs">Imagenes: </label>
          <input type="file" style="padding: 10px;" id="imgs" placeholder="Sube las imagenes del blog" multiple>
          </div>

          <div class="form-group">
          <label for="exampleInputPassword1">Resumen</label>
          <input type="resumen" class="form-control" id="resumen" placeholder="Introduce un resumen">
          </div>

          <div class="form-group">
          <label for="fecha">Fecha</label>
          <input type="date" class="form-control" id="fecha" placeholder="Introduce la fecha">
          </div>

        <button type="submit" class="btn btn-primary">Subir</button>
      </form>
</div>
<%- include("./partials/footer") %>