<div class="footer">
  <footer style="background-color: transparent">
    <div class="divs" style="color: rgba(47, 20, 141, 0.815);">Junior</div>
  <div class="divs">
    <span style="color: rgba(47, 20, 141, 0.815);">Developer</span>
  </div>
  
  <p class="email">matiasmunoz.dev@gmail.com</p>
  </footer>
</div>
